/* reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: white;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  color: inherit;
  cursor: default;
}

.allWraps {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  background-color: white;
}

.navMenu {
  z-index: 20;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transform: translateX(200vh);
          transform: translateX(200vh);
  text-align: center;
  background-color: white;
  font-size: 40px;
  font-weight: 700;
  opacity: 0;
  -webkit-transition: .5s, -webkit-transform 0s 2s;
  transition: .5s, -webkit-transform 0s 2s;
  transition: .5s, transform 0s 2s;
  transition: .5s, transform 0s 2s, -webkit-transform 0s 2s;
}

.navMenu--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: .5s, -webkit-transform 0s 0s;
  transition: .5s, -webkit-transform 0s 0s;
  transition: .5s, transform 0s 0s;
  transition: .5s, transform 0s 0s, -webkit-transform 0s 0s;
}

.navMenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: 10%;
  left: 10%;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

.navMenu__li {
  display: inline-block;
  width: 100%;
}

.navMenu__li:hover {
  color: #FF0000;
}

.navMenu__standardCV {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
}

.navMenu__standardCV:hover {
  color: black;
}

.navMenu__linkCV {
  padding-left: 10px;
  color: #FF0000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: .7;
}

.navMenu__linkCV:hover {
  opacity: 1;
}

.navMenu__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.navMenu__icons:hover {
  color: black;
}

.navMenu__icon {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-size: 32px;
  opacity: .5;
}

.navMenu__icon:hover {
  color: #FF0000;
  opacity: 1;
}

@media (min-width: 400px) {
  .navMenu__icon {
    padding-left: 20px;
  }
}

@media (min-width: 700px) {
  .navMenu__icon {
    padding-left: 40px;
  }
}

@media (min-width: 1000px) and (orientation: landscape) {
  .navMenu__li:nth-child(1) {
    display: none;
  }
}

.stickyUpperBar {
  z-index: 21;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3px;
  opacity: .8;
}

.stickyUpperBar__title, .stickyUpperBar__burger, .stickyUpperBar__landscapeStripe {
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
}

.stickyUpperBar__title {
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  padding-left: 10%;
  text-decoration: none;
  cursor: pointer;
}

.stickyUpperBar__title--active {
  opacity: 0;
}

.stickyUpperBar__burger {
  top: 20px;
  right: 10%;
}

.stickyUpperBar__landscapeStripe {
  display: block;
  bottom: 0;
  left: 10%;
  right: 10%;
  height: 1px;
  border-radius: 10px;
  background-color: black;
  opacity: .5;
  content: "";
}

.stickyUpperBar__landscapeStripe--active {
  opacity: 0;
}

.burger {
  position: absolute;
  height: 24px;
  width: 32px;
}

.burger__first, .burger__second, .burger__third {
  display: block;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: black;
  -webkit-transition: .5s;
  transition: .5s;
}

.burger__first {
  top: 0;
}

.burger__first--active {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger__second {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger__second--active {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger__third {
  bottom: 0;
}

.burger__third--active {
  top: 50%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.wrapper {
  overflow: hidden;
  position: relative;
  max-width: 100%;
  background-color: white;
}

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  .wrapper {
    margin-top: 10vh;
    height: 90vh;
  }
}

.intro {
  overflow: hidden;
  position: relative;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.intro__titles {
  z-index: 2;
  position: absolute;
  top: 45%;
  left: 5%;
  width: 100%;
  color: black;
  font-size: 35px;
  font-weight: 700;
}

.intro__title {
  text-align: left;
}

.intro__title--first {
  color: #FF0000;
}

.intro__title--second {
  padding-top: 10px;
}

.intro__imgContainer {
  overflow: hidden;
  position: absolute;
  right: -80%;
  left: 20%;
  bottom: 0;
  height: 80%;
  opacity: .6;
}

.intro__introImg {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 100%;
  width: 100%;
}

.computerMenu {
  display: none;
}

@media only screen and (orientation: portrait) and (min-width: 360px) {
  .intro__titles {
    font-size: 39px;
  }
}

@media only screen and (orientation: portrait) and (min-width: 360px) and (min-height: 812px) {
  .intro__titles {
    top: 47%;
  }
}

@media only screen and (orientation: portrait) and (min-width: 411px) {
  .intro__titles {
    font-size: 45px;
  }
}

@media only screen and (orientation: portrait) and (min-width: 768px) {
  .intro__titles {
    top: 40%;
    font-size: 75px;
  }
  .intro__title--second {
    padding-top: 15px;
  }
  .intro__imgContainer {
    right: -60%;
  }
}

@media only screen and (orientation: portrait) and (min-width: 1024px) {
  .intro__titles {
    font-size: 90px;
  }
}

@media only screen and (orientation: landscape) {
  .intro__titles {
    top: 34%;
    left: 10%;
    font-size: 37px;
  }
  .intro__imgContainer {
    right: 0;
    left: 50%;
  }
}

@media only screen and (orientation: landscape) and (min-width: 640px) {
  .intro__titles {
    font-size: 41px;
  }
}

@media only screen and (orientation: landscape) and (min-width: 731px) {
  .intro__titles {
    top: 32%;
    font-size: 46px;
  }
}

@media only screen and (orientation: landscape) and (min-width: 812px) {
  .intro__titles {
    top: 30%;
    font-size: 50px;
  }
}

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  .intro {
    position: absolute;
    width: 50%;
  }
  .intro__titles {
    top: 47%;
    left: 15%;
    font-size: 45px;
  }
  .intro__imgContainer {
    right: -80%;
    left: 10%;
  }
  .computerMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 85%;
    left: 0;
    right: 0;
    padding: 0 5% 0 15%;
    color: #FF0000;
    font-size: 35px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: rgba(51, 51, 51, 0.15);
  }
  .computerMenu__li:hover {
    color: black;
  }
}

@media only screen and (orientation: landscape) and (min-width: 1270px) {
  .intro__titles {
    top: 46%;
    font-size: 60px;
  }
}

@media only screen and (orientation: landscape) and (min-width: 1360px) {
  .intro__titles {
    top: 40%;
    font-size: 60px;
  }
  .intro__imgContainer {
    right: -80%;
    left: 10%;
  }
  .computerMenu {
    font-size: 45px;
  }
  .computerMenu__li:hover {
    color: black;
  }
}

@media only screen and (orientation: landscape) and (min-width: 1360px) and (min-height: 1000px) {
  .intro__titles {
    top: 46%;
    font-size: 65px;
  }
}

@media only screen and (orientation: landscape) and (min-width: 1000px) and (max-height: 600px) {
  .intro__titles {
    top: 36%;
    font-size: 45px;
  }
}

.aboutMe {
  position: relative;
  padding: 10px 3% 50px;
  width: 100%;
}

.aboutMe__title {
  padding: 20px 10px;
  text-align: center;
  font-size: 35px;
  letter-spacing: 3px;
}

.aboutMe__desc {
  padding: 10px 20px;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 300;
  text-align: justify;
}

.aboutMe__standardCV {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
  padding-right: 20px;
  width: 100%;
  text-align: right;
}

.aboutMe__linkCV {
  padding-left: 10px;
  color: #FF0000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: .7;
}

.aboutMe__linkCV:hover {
  opacity: 1;
}

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  .aboutMe {
    position: absolute;
    right: 0;
    top: 50%;
    width: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0 3%;
  }
}

.myProjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 100%;
}

.myProjects__oneProject {
  -webkit-box-flex: 12;
      -ms-flex-positive: 12;
          flex-grow: 12;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  height: 300px;
  margin: 2px 1px;
}

.myProjects__oneProject:nth-of-type(2n) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.myProjects__oneProject:nth-of-type(3n) {
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100;
  -ms-flex-preferred-size: 10000px;
      flex-basis: 10000px;
}

.myProjects__oneProject:nth-of-type(4n) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.myProjects__oneProject:nth-of-type(5n) {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.project {
  overflow: hidden;
  position: relative;
}

.project__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #e9e9e9;
}

.project__overlay {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #fc1111;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.project:hover .project__overlay {
  opacity: 1;
}

.project:nth-of-type(2n) .project__overlay {
  background-color: #006e00;
}

.project:nth-of-type(3n) .project__overlay {
  background-color: #95c200;
}

.project:nth-of-type(4n) .project__overlay {
  background-color: #008cba;
}

.project:nth-of-type(5n) .project__overlay {
  background-color: #6e3e00;
}

.project__details {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: white;
  font-size: 25px;
}

.project__title {
  padding: 10px 0;
}

.project__icon {
  display: inline-block;
  padding: 10px;
  font-size: 40px;
  opacity: .5;
}

.project__icon:hover {
  opacity: .9;
}

.project__desc {
  padding: 10px 0;
  font-size: 15px;
}

@media only screen and (orientation: portrait) and (min-width: 600px) {
  .myProjects__oneProject {
    -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
    height: 250px;
  }
}

@media only screen and (orientation: portrait) and (min-width: 910px) {
  .myProjects__oneProject {
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
    height: 300px;
  }
}

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  .myProjects {
    display: none;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: center;
        align-content: center;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 90vh;
    width: 50%;
    padding: 20px 10px 10px 10px;
  }
  .myProjects__oneProject {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    height: 33.33333%;
  }
}

.contact {
  display: block;
  position: relative;
  padding: 30px 0 20px;
  width: 100%;
  text-align: center;
}

.contact__title {
  padding: 20px 10px;
  text-align: center;
  font-size: 35px;
  letter-spacing: 3px;
}

.contact__desc {
  padding: 10px 20px;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 300;
  padding-bottom: 20px;
}

.iconsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px 0;
}

.iconsContainer__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
  height: 100px;
  color: black;
  font-size: 60px;
  opacity: .5;
}

.iconsContainer__item:hover {
  color: #FF0000;
}

.iconsContainer__item:hover .iconsContainer__showedItemReverse {
  opacity: 0;
}

.iconsContainer__item:hover .iconsContainer__hiddenItemReverse {
  opacity: 1;
}

.iconsContainer__hiddenItemReverse {
  position: absolute;
  opacity: 0;
  font-size: 26px;
  bottom: 50%;
  left: 0;
  width: 350px;
}

@media only screen and (orientation: portrait) and (min-width: 600px) {
  .iconsContainer__item {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
}

@media only screen and (orientation: landscape) and (min-width: 600px) {
  .iconsContainer__item {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
}

@media only screen and (orientation: landscape) and (min-width: 1320px) {
  .contact {
    padding-bottom: 50px;
  }
}

.footer {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: black;
}

.footer__contact, .footer__clause {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  line-height: 180%;
}

.footer__contact {
  padding: 30px 0 15px;
}

.footer__contact:after {
  display: block;
  height: 1px;
  width: 80%;
  margin-top: 20px;
  background-color: white;
  content: "";
}

.footer__clause {
  padding: 10px 20px 25px;
}

.infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: black;
  color: white;
  font-size: 16px;
}

.infoContainer__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  line-height: 200%;
}

.infoContainer__icon {
  padding: 0 15px 0 40px;
  color: #FF0000;
  font-size: 1.5em;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  opacity: 0.5;
}

.clauseContainer {
  color: white;
  font-size: 10px;
  text-align: center;
}

.clauseContainer__clause {
  padding-top: 10px;
  text-align: justify;
}

.btnFooter {
  z-index: 3;
  display: none;
  position: fixed;
  bottom: 0;
  right: 25%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  padding: 40px 20px 20px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 15px;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 100%, 0 100%, 0 25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 100%, 0 100%, 0 25%);
  -webkit-transition: color .5s, background-color .5s;
  transition: color .5s, background-color .5s;
}

.btnFooter.show {
  background-color: white;
  color: black;
  -webkit-transform: translateX(50%) rotate(180deg);
          transform: translateX(50%) rotate(180deg);
}

.btnFooter.show .btnFooter__title {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media only screen and (min-width: 600px) {
  .footer__contact {
    padding: 25px 0 25px 15px;
  }
  .footer__contact:after {
    display: none;
  }
  .footer__clause {
    padding: 30px 20px 25px;
  }
}

@media only screen and (min-width: 700px) {
  .footer__contact {
    padding-left: 30px;
  }
  .footer__clause {
    padding-top: 35px;
  }
}

@media only screen and (min-width: 1000px) {
  .footer__contact {
    padding-left: 50px;
  }
}

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  .footer {
    position: fixed;
    bottom: -100vh;
    right: 0;
    width: 50%;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .footer__contact, .footer__clause {
    -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
  }
  .footer__contact {
    padding-right: 0px;
    padding-left: 0px;
  }
  .footer__contact:after {
    display: none;
  }
  .footer__clause {
    font-size: 9px;
    padding: 10px 25px 10px 10px;
  }
  .footer.show {
    bottom: 0;
    padding-bottom: 75px;
  }
  .infoContainer {
    font-size: 15px;
  }
  .btnFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contactAndFooterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactAndFooterContainer__contact {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

@media only screen and (orientation: landscape) and (min-width: 1000px) {
  .contactAndFooterContainer {
    display: none;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
  }
  .contactAndFooterContainer__contact {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}
/*# sourceMappingURL=style.css.map */