.contact {
    display: block;
    position: relative;
    padding: 30px 0 20px;
    width: 100%;
    text-align: center;

    &__title {
        @include sectionTitle;
    }

    &__desc {
        @include sectionDesc;
        padding-bottom: 20px;
    }
}

.iconsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px 0;

    &__item {
        flex-grow: 1;
        align-self: center;
        flex-basis: 150px;
        height: 100px;
        color: $color-basic-font;
        font-size: 60px;
        opacity: .5;

        &:hover {
            color: $color-basic-distc;
        }
    }
}

@media only screen and (orientation: portrait) {
    @media (min-width: 600px) {
        .iconsContainer {
            &__item {
                flex-basis: 33%;
            }
        }
    }
}

@media only screen and (orientation: landscape) {
    @media (min-width: 600px) {
        .iconsContainer {
            &__item {
                flex-basis: 33%;
            }
        }
    }

    @media (min-width:1320px) {
        .contact {
            padding-bottom: 50px;
        }

    }
}