.myProjects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    width: 100%;

    &__oneProject {
        flex-grow: 12;
        flex-basis: 300px;
        height: 300px;
        margin: 2px 1px;
    }

    &__oneProject:nth-of-type(2n) {
        flex-grow: 1;
    }

    &__oneProject:nth-of-type(3n) {
        flex-grow: 100;
        flex-basis: 10000px;
    }

    &__oneProject:nth-of-type(4n) {
        flex-grow: 1;
    }

    &__oneProject:nth-of-type(5n) {
        flex-grow: 4;
    }
}

.project {
    overflow: hidden;
    position: relative;

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: rgb(233, 233, 233);
    }

    &__overlay {
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        background-color: rgb(252, 17, 17);
        opacity: 0;
        transition: .5s ease;
    }

    &:hover &__overlay {
        opacity: 1;
    }

    &:nth-of-type(2n) &__overlay {
        background-color: rgb(0, 110, 0);
    }

    &:nth-of-type(3n) &__overlay {
        background-color: rgb(149, 194, 0);
    }

    &:nth-of-type(4n) &__overlay {
        background-color: rgb(0, 140, 186);
    }

    &:nth-of-type(5n) &__overlay {
        background-color: rgb(110, 62, 0);
    }

    &__details {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        color: white;
        font-size: 25px;
    }

    &__title {
        padding: 10px 0;
    }

    &__icon {
        display: inline-block;
        padding: 10px;
        font-size: 40px;
        opacity: .5;

        &:hover {
            opacity: .9;
        }
    }

    &__desc {
        padding: 10px 0;
        font-size: 15px;
    }
}

@media only screen and (orientation: portrait) {
    @media only screen and (min-width: 600px) {
        .myProjects {
            &__oneProject {
                flex-basis: 250px;
                height: 250px;
            }
        }
    }

    @media only screen and (min-width: 910px) {
        .myProjects {
            &__oneProject {
                flex-basis: 300px;
                height: 300px;
            }
        }
    }
}

@media only screen and (orientation: landscape) {
    @media only screen and (min-width: 1000px) {
        .myProjects {
            display: none;
            align-items: stretch;
            align-content: center;
            position: fixed;
            right: 0;
            bottom: 0;
            height: 90vh;
            width: 50%;
            padding: 20px 10px 10px 10px;

            &__oneProject {
                flex-basis: 200px;
                height: 33.33333%;
            }
        }

    }
}