.navMenu {
    z-index: 20;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translateX(200vh);
    text-align: center;
    background-color: $color-navMenu-bgc;
    font-size: 40px;
    font-weight: 700;
    opacity: 0;
    transition: .5s, transform 0s 2s;

    &--active {
        transform: translateX(0);
        opacity: 1;
        transition: .5s, transform 0s 0s;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 10%;
        bottom: 10%;
        right: 10%;
        left: 10%;
        // max-height: 600px;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }

    &__li {
        display: inline-block;
        width: 100%;

        &:hover {
            color: $color-navMenu-distc;
        }
    }

    &__standardCV {

        @include inscription-standardCV;

        &:hover {
            color: $color-navMenu-font;
        }
    }

    &__linkCV {
        @include inscription-linkCV;


    }

    &__icons {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        &:hover {
            color: $color-navMenu-font;
        }
    }

    &__icon {
        flex-grow: 1;
        align-self: center;
        text-align: center;
        font-size: 32px;
        opacity: .5;

        &:hover {
            color: $color-navMenu-distc;
            opacity: 1;
        }
    }

    @media (min-width: 400px) {
        &__icon {
            padding-left: 20px;
        }
    }

    @media (min-width: 700px) {
        &__icon {
            padding-left: 40px;
        }
    }
}

// computer version !!!
@media (min-width: 1000px) and (orientation: landscape) {
    .navMenu {
        &__li:nth-child(1) {
            display: none;
        }
    }
}