:root {
    //fonts
    --color-1: black;
    //bgc
    --color-2: white;
    //distinction
    --color-3: #FF0000;

    //navMenu
    --color-navMenu-font: var(--color-1);
    --color-navMenu-bgc: var(--color-2);
    --color-navMenu-distc: var(--color-3);
}